<div class="container app">
	<h1>Gestion d'emprunts de livres</h1>

	<div class="row">
		<div class="col-4">
			<p>Filtre : </p>
		</div>
		<div class="col-4">
			<input type="checkbox" name="avalaible" (click)="isChecked($event)">
			<label for="available">Disponible</label>
		</div>
		<div class="col-4">
			<input type="checkbox" name="unavalaible" (click)="isChecked($event)">
			<label for="unavailable">Non Disponible</label>
		</div>
	</div>

	<div class="container list-books">
		<div>
			<div class="row">
				<div class="col-1 ref">#</div>
				<div class="col-2 thumbnail">illustration</div>
				<div class="col-2">Titre du livre</div>
				<div class="col-1">Disponibilité</div>
			</div>
			<div class="row">
				<app-books [data]="book" *ngFor="let book of books" class="col-12"></app-books>
			</div>
		</div>
		

	</div>
</div>
